@charset "utf-8";
/* Create by bonus630 */
body{
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
body .fileBox{
	border:#B5AEAE solid thin;
	width:160px;
	height:220px;
	display:block;
	float:left;
	margin-left:10px;
	margin-top:10px;
	margin-bottom:20px;
	
}
body .fileBox .clickArea
{
	cursor:pointer;
}
body .fileBox:hover{
	border:#C57834 solid thin;
}
body .fileBox .clickArea .filePreview
{
	padding:5px;
	width:150px;
	height:170px;
	float:left;
}
body .fileBox .clickArea .filePath
{
	width:150px;
	font-size:12px;
	color:#666363;
}
body .fileBox span
{
	position:relative;
	left:140px;
	float:left;
	width:16px;
	height:16px;
	display:block;
	font-size:14px;
	cursor:pointer;
	text-align:center;
}
body .fileBox span:hover
{
	color:#5E1011;
	background-color:#D3CB9B;
}
	